html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  transform-style: preserve-3d;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
/*nav bar style for cellphone devices*/

.navbar-desktop {
  display: none;
}
.navbar-cell {
  position: absolute;
  height: 80px;
  z-index: 1;
  background-color: #fff;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  display: flex;
}
/*cart style*/
.cart-container {
  margin-left: 30px;
  width: 50%;
}
.cart-icon {
  background-image: url('./img/Shopping_Bag-512.png');
  margin-top: 10px;
  cursor: pointer;
  overflow: visible;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45px;
  font-size: 0;
}
/*burger menu style*/
.bar-menu-container {
  width: 50%;
  margin: 15px;
  display: inline-block;
  float: right;
}
.bar-container {
  float: right;
  width: 40px;
  background-color: #0c0d0d;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 6px 6px 6px;
  transition: 0.4s;
}
.my-sidebar {
  text-align: center;
  display: block;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: opacity 200ms;
}
.showup {
  text-align: center;
  display: block;
  width: 100%;
  background-color: #0c0d0d;
  min-height: 100vh;
  z-index: 1;
  position: fixed;
  visibility: visible !important;
  opacity: 100 !important;
  transition: opacity 200ms;
}
.w3-button {
  font-size: 30px;
  margin-top: 25px;
  padding-right: 35px;
  float: right;
  background-color: #0c0d0d;
  color: #fff;
  border: none;
}
.w3-button:hover {
  cursor: pointer;
  color: #ccc;
}
.w3-button:focus {
  outline: none;
  cursor: pointer;
  color: #ccc;
}
.menu-items {
  margin-top: 150px;
}
.menu-items a {
  text-decoration: none;
}
.w3-bar-item {
  border: 0;
  background-color: transparent;
  color: #fff;
  padding: 25px;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  width: 100%;
  display: block;
  height: 60px;
}
.w3-bar-item:hover, .w3-bar-item:focus {
  outline: none;
  cursor: pointer;
  background-color: #ddd;
  color: black;
  text-decoration: none;
  transition: 0.04s;
}
.item:hover {
  cursor: pointer;
  background-color: #ddd;
  color: black;
}
